*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
.header{
	width: 100%;
	height: 100px;
	display: block;
	background-color: greenyellow;
}
.inner_header{
	width: 1000px;
	height: 100%;
	display: block;
	margin: 0 auto;
	background-color: darkred;

}
.logo_container{
	height: 100%;
	display: table;
	float: left;
}
.logo_container h1 {
	color: white;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	font-family: Square_peg;
	font size: 32px;


}
